---
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
const { minutesRead } = Astro.props.frontmatter;
---

<BaseLayout pageTitle={frontmatter.title}>
<p>{minutesRead}</p>
<p>Published on: {frontmatter.pubDate.slice(0,10)}</p>
<p>Updated on: {frontmatter.upDate.slice(0,10)}</p>
<p><em>{frontmatter.description}</em></p>
<img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
<div class="tags">
  {frontmatter.tags.map((tag) => (
    <a class="tag" href={`/tags/${tag}`}>{tag}</a>
  ))}
</div>
<slot />
</BaseLayout>

<style>
  a {
    color: #00539F;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: solid 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    background-color: #F8FCFD;
    text-decoration: none;
  }
</style>