---
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
const { minutesRead } = Astro.props.frontmatter;
---

<BaseLayout pageTitle={frontmatter.title}>
<p class="reading-time">{minutesRead}</p>
<p><b>Published on</b>: {frontmatter.pubDate.slice(0,10)}</p>
<p><b>Updated on</b>: {frontmatter.upDate.slice(0,10)}</p>
<p><em>{frontmatter.description}</em></p>
<img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
<div class="tags">
  {frontmatter.tags.map((tag) => (
    <a class="tag" href={`/tags/${tag}`}>{tag}</a>
  ))}
</div>
<slot />
</BaseLayout>

<style>
  a {
    color: #00539F;
  }

  .reading-time {
    background-color: #f3f2f4;
    padding: 4px 8px;
    border-radius: 6px;
    display: inline-flex;
    font-size: 13px;
  }
</style>